.bg-veryDB {
    background-color: #1c2f40 !important;
}

.bg-db {
    background-color: #4c6173 !important;
}

.bg-b {
    background-color: #8094a6 !important;
}

.bg-brwn {
    background-color: #d9d1ba !important;
}

.bg-lBrwn {
    background-color: #f2e9d8 !important;
}

.font-veryDB {
    color: #1c2f40 !important;
}

.font-db {
    color: #4c6173 !important;
}

.font-b {
    color: #8094a6 !important;
}

.font-brwn {
    color: #d9d1ba !important;
}

.font-lBrwn {
    color: #f2e9d8 !important;
}

.textBlue {
    color: aquamarine;
}

.textRed {
    color: red;
}

.font-custom {
    font-family: 'Rubik', sans-serif
}

.hoverButton {
    background-color: #8094a6;
}

.bg-c1 {
    background-color: #85603f;
    color: aliceblue;
}

.bg-c2 {
    background-color: #9e7540;
    color: aliceblue;
}

.bg-c3 {
    background-color: #bd9354;
    color: aliceblue;
}

.bg-c4 {
    background-color: #e3d18a;
    color: aliceblue;
}

.bg-c5 {
    background-color: #D9C163;
    color: aliceblue;
}

.bg-old-logo {
    background-color: #be8a62;
    color: aliceblue;
}

.loginB {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.hovered {
    background-color: #9e7540;
    color: aliceblue;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}




#frg {
    padding: 0;
    border:none;
    font-size: 30px;
    text-align: center;
}


.jsgrid tr th {
    border: 1px solid #e9e9e9;
}