.bg-veryDB {
    background-color: #1c2f40;
}

.bg-db {
    background-color: #4c6173;
}

.bg-b {
    background-color: #8094a6;
}

.bg-brwn {
    background-color: #d9d1ba;
}

.bg-lBrwn {
    background-color: #f2e9d8;
}

.font-veryDB {
    color: #1c2f40;
}

.font-db {
    color: #4c6173;
}

.font-b {
    color: #8094a6;
}

.font-brwn {
    color: #d9d1ba;
}

.font-lBrwn {
    color: #f2e9d8;
}

.textBlue {
    color: aquamarine;
}

.textRed {
    color: red;
}